In [1]:
import pandas as pd
import numpy as np
import json
import string
from itertools import groupby

In [ ]:
with open('../Files/English_dictionary.json', 'r') as f:
    dic = json.load(f)

In [ ]:
dic=list(dic.keys())

In [ ]:
ej=dic[20]
ej

In [ ]:
total= dict.fromkeys(string.ascii_lowercase, 0)
total["-"]=0
total

In [ ]:
df=pd.DataFrame.from_dict(total, orient='index')
df.head()

In [ ]:
list_total=list(total)
for i in list_total:
    df[i]=0
df.drop([0], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
for i in dic: 
        for j in set(i):
            for x in i:
                df.loc[j][x]+=1
df.head(20)

In [ ]:
df.to_csv("../Files/English.csv")

In [148]:
df=pd.read_csv("../Files/English.csv", index_col=0)
df.head()

,a,b,c,d,e,f,g,h,i,j,...,r,s,t,u,v,w,x,y,z,-
a,295791,40674,99166,65076,202332,19561,49122,57254,183593,3071,...,150740,136801,149544,67820,18945,11300,6185,41998,9455,2
b,52241,63940,18802,16185,60872,4350,9892,10991,47675,886,...,38874,37146,30428,25805,3585,3019,1209,10518,2167,0
c,115802,17475,152979,33390,129131,10797,19248,39499,124607,1591,...,87594,80768,85696,46583,9788,3012,3056,27940,3604,1
d,76427,15481,34550,113189,119256,9487,18005,20752,87495,1317,...,64307,57597,49669,37180,7763,6958,2284,16623,4051,0
e,182616,43575,102160,87612,376457,26991,51517,59728,201037,3323,...,186121,180341,165917,86472,27422,14747,8114,40294,10990,2

In [149]:
df_per= (df.div(df.sum(axis=1), axis=0)*100).round(2).astype(str) + '%'
df_per.head()

,a,b,c,d,e,f,g,h,i,j,...,r,s,t,u,v,w,x,y,z,-
a,13.57%,1.87%,4.55%,2.98%,9.28%,0.9%,2.25%,2.63%,8.42%,0.14%,...,6.91%,6.27%,6.86%,3.11%,0.87%,0.52%,0.28%,1.93%,0.43%,0.0%
b,9.05%,11.08%,3.26%,2.8%,10.55%,0.75%,1.71%,1.9%,8.26%,0.15%,...,6.74%,6.44%,5.27%,4.47%,0.62%,0.52%,0.21%,1.82%,0.38%,0.0%
c,8.59%,1.3%,11.35%,2.48%,9.58%,0.8%,1.43%,2.93%,9.25%,0.12%,...,6.5%,5.99%,6.36%,3.46%,0.73%,0.22%,0.23%,2.07%,0.27%,0.0%
d,7.8%,1.58%,3.53%,11.55%,12.17%,0.97%,1.84%,2.12%,8.93%,0.13%,...,6.56%,5.88%,5.07%,3.79%,0.79%,0.71%,0.23%,1.7%,0.41%,0.0%
e,7.33%,1.75%,4.1%,3.51%,15.1%,1.08%,2.07%,2.4%,8.06%,0.13%,...,7.47%,7.23%,6.66%,3.47%,1.1%,0.59%,0.33%,1.62%,0.44%,0.0%

# Calculate probability given 2 or more letters

In [150]:
li=["a", "b"]

In [151]:
df_cal= df.loc[li]
df_cal

,a,b,c,d,e,f,g,h,i,j,...,r,s,t,u,v,w,x,y,z,-
a,295791,40674,99166,65076,202332,19561,49122,57254,183593,3071,...,150740,136801,149544,67820,18945,11300,6185,41998,9455,2
b,52241,63940,18802,16185,60872,4350,9892,10991,47675,886,...,38874,37146,30428,25805,3585,3019,1209,10518,2167,0

In [152]:
total = df_cal.sum()
total.name = 'total'
# Assign sum of all rows of DataFrame as a new Row
df_cal = df_cal.append(total.transpose())
df_cal

,a,b,c,d,e,f,g,h,i,j,...,r,s,t,u,v,w,x,y,z,-
a,295791,40674,99166,65076,202332,19561,49122,57254,183593,3071,...,150740,136801,149544,67820,18945,11300,6185,41998,9455,2
b,52241,63940,18802,16185,60872,4350,9892,10991,47675,886,...,38874,37146,30428,25805,3585,3019,1209,10518,2167,0
total,348032,104614,117968,81261,263204,23911,59014,68245,231268,3957,...,189614,173947,179972,93625,22530,14319,7394,52516,11622,2

In [153]:
df_cal.drop(li, axis=0, inplace=True)
df_cal.drop(li, axis=1, inplace=True)
df_cal.head()

,c,d,e,f,g,h,i,j,k,l,...,r,s,t,u,v,w,x,y,z,-
total,117968,81261,263204,23911,59014,68245,231268,3957,18971,167214,...,189614,173947,179972,93625,22530,14319,7394,52516,11622,2

In [154]:
df_cal= df_cal.T[["total"]]
df_cal['per'] = (df_cal.total * 100 / df_cal.total.sum()).round(2).astype(str) + '%'
df_cal.head()

    total     per
c  117968   5.12%
d   81261   3.53%
e  263204  11.42%
f   23911   1.04%
g   59014   2.56%

In [155]:
df_cal.sort_values(by="total", ascending=False, inplace= True)
df_cal.head()

    total     per
e  263204  11.42%
i  231268  10.03%
n  190007   8.24%
r  189614   8.23%
t  179972   7.81%

In [156]:
df_cal.total.idxmax()

'e'

In [157]:
#NoVowel

def next_letter(*letter):
    
    #Create df with letters as an index
    df_words= df.loc[letter]
    #Get new row with total letters appears
    total = df_words.sum()
    total.name = 'total'
    # Assign sum of all rows of DataFrame as a new Row
    df_words = df_words.append(total.transpose())
    vowels=["a","e", "i", "o", "u"]
    #Delete vowels and letters from columns and rows
    remove= list(set(vowels+list(*letter)))
    df_words.drop(*letter, axis=0, inplace=True)
    df_words.drop(remove, axis=1, inplace=True)
    #New column with percentajes for each vowel
    df_words= df_words.T[["total"]]
    df_words['per'] = (df_words.total * 100 / df_words.total.sum()).round(4)
    df_words.sort_values(by="total", ascending=False, inplace= True)
    
    #Get recommended letter
    final_word= df_words.total.idxmax()
    print(df_words.head())
    if (df_words.iloc[0].per - df_words.iloc[1].per) < 1:
        return f'You should choose {final_word} with {df_words.loc[final_word].per.round(3)}% appear or {df_words.iloc[1].name} with {df_words.loc[df_words.iloc[1].name].per.round(3)}% appear'
    else:
        return f'You should choose {final_word} with a {df_words.loc[final_word].per.round(3)}% appear'

In [158]:
letters=["d", "c"]
next_letter(letters)

    total      per
n  159372  14.7008
r  151901  14.0117
s  138365  12.7631
t  135365  12.4864
l  116969  10.7895

'You should choose n with 14.701% appear or r with 14.012% appear'

In [159]:
#Vowel

def next_vowel(*vowel):
    
    #Create df with letters as an index
    df_vowel= df.loc[vowel]
    print(vowel)
    #Get new row with total letters appears    
    total = df_vowel.sum()
    total.name = 'total'
    # Assign sum of all rows of DataFrame as a new Row
    vowels=["a","e", "i", "o", "u"]
    vowels= [i for i in vowels if i not in list(*vowel)]
    print(vowels)
    df_vowel = df_vowel.append(total.transpose())
    df_vowel = df_vowel[[*vowels]].T[["total"]]
    #New column with percentajes for each vowel
    df_vowel['per'] = (df_vowel.total * 100 / df_vowel.total.sum()).round(4)
    df_vowel.sort_values(by="total", ascending=False, inplace= True)
    
    #Get recommended vowel
    final_vowel= df_vowel.total.idxmax()
    print(df_vowel.head())
    if (df_vowel.iloc[0].per - df_vowel.iloc[1].per) < 1:
        return f'You should choose {final_vowel} with {df_vowel.loc[final_vowel].per.round(3)}% appear or {df_vowel.iloc[1].name} with {df_vowel.loc[df_vowel.iloc[1].name].per.round(3)}% appear'
    else:
        return f'You should choose {final_vowel} with a {df_vowel.loc[final_vowel].per.round(3)}% appear'

In [160]:
letters=["d", "c", "e", "o"]
next_vowel(letters)

(['d', 'c', 'e', 'o'],)
['a', 'i', 'u']
    total      per
i  567603  43.4227
a  507824  38.8495
u  231730  17.7278

'You should choose i with a 43.423% appear'

# Calcultate probability with empty word but we have some letters in the panel

In [20]:
with open('../Files/English_dictionary.json', 'r') as f:
    dic = json.load(f)

In [33]:
def empty_consonant(dic, letters):
    dic=list(dic.keys())
    total= dict.fromkeys(string.ascii_lowercase, 0)
    total["-"]=0
    dic = [ele for ele in dic if all(ch not in ele for ch in letters)] 
    for i in dic:
        for x in i:
            total[x]+=1
    df = pd.DataFrame.from_dict(total, orient ='index', columns=["total"])
    df.index.name = "letter"
    df.sort_values(by=['total'], ascending=False, inplace=True)
    vowels=["a","e", "i", "o", "u"]
    df.drop(vowels, axis=0, inplace=True)
    df['per'] = (df.total * 100 / df.total.sum()).round(2)
    final= df.total.idxmax()
    if (df.iloc[0].per - df.iloc[1].per) < 1:
        return f'You should choose {final} with {df.loc[final].per.round(3)}% appear or {df.iloc[1].name} with {df.loc[df.iloc[1].name].per.round(3)}% appear'
    else:
        return f'You should choose {final} with a {df.loc[final].per.round(3)}% appear'

In [34]:
letters=["a", "b", 'g']
empty_consonant(dic, letters)

        total    per
letter
s       82394  14.98
r       66986  12.18
t       59785  10.87
n       59009  10.73
l       42658   7.76
c       42337   7.70
p       35908   6.53
d       34772   6.32
m       27734   5.04
h       25327   4.61
y       19479   3.54
f       14676   2.67
v       10980   2.00
k        9484   1.72
w        7801   1.42
z        3547   0.65
x        3479   0.63
q        1826   0.33
j        1674   0.30
b           0   0.00
g           0   0.00
-           0   0.00

'You should choose s with a 14.98% appear'

In [35]:
def empty_vowel(dic, vowel):
    dic=list(dic.keys())
    total= dict.fromkeys(string.ascii_lowercase, 0)
    total["-"]=0
    dic = [ele for ele in dic if all(ch not in ele for ch in vowel)] 
    for i in dic:
        for x in i:
            total[x]+=1
    vowels=["a","e", "i", "o", "u"]
    df = pd.DataFrame.from_dict(total, orient ='index', columns=["total"]).loc[vowels]
    df.index.name = "letter"
    df.sort_values(by=['total'], ascending=False, inplace=True)
    df['per'] = (df.total * 100 / df.total.sum()).round(2)
    print(df)
    final= df.total.idxmax()
    if (df.iloc[0].per - df.iloc[1].per) < 1:
        return f'You should choose {final} with {df.loc[final].per.round(3)}% appear or {df.iloc[1].name} with {df.loc[df.iloc[1].name].per.round(3)}% appear'
    else:
        return f'You should choose {final} with a {df.loc[final].per.round(3)}% appear'

In [36]:
letters=["a", "b", 'g']
vowels=["a","e", "i", "o", "u"]
empty_vowel(dic, letters)

         total    per
letter
e       124566  37.66
i        82648  24.99
o        81574  24.66
u        41994  12.70
a            0   0.00

'You should choose e with a 37.66% appear'

In [5]:
total= dict.fromkeys(string.ascii_lowercase, 0)
total["-"]=0
total

{'a': 0,
 'b': 0,
 'c': 0,
 'd': 0,
 'e': 0,
 'f': 0,
 'g': 0,
 'h': 0,
 'i': 0,
 'j': 0,
 'k': 0,
 'l': 0,
 'm': 0,
 'n': 0,
 'o': 0,
 'p': 0,
 'q': 0,
 'r': 0,
 's': 0,
 't': 0,
 'u': 0,
 'v': 0,
 'w': 0,
 'x': 0,
 'y': 0,
 'z': 0,
 '-': 0}

In [6]:
letters=["a", "b", 'g']

In [7]:
dic = [ele for ele in dic if all(ch not in ele for ch in letters)]

In [8]:
for i in dic:
    for x in i:
        total[x]+=1

In [9]:
total

{'a': 0,
 'b': 0,
 'c': 42337,
 'd': 34772,
 'e': 124566,
 'f': 14676,
 'g': 0,
 'h': 25327,
 'i': 82648,
 'j': 1674,
 'k': 9484,
 'l': 42658,
 'm': 27734,
 'n': 59009,
 'o': 81574,
 'p': 35908,
 'q': 1826,
 'r': 66986,
 's': 82394,
 't': 59785,
 'u': 41994,
 'v': 10980,
 'w': 7801,
 'x': 3479,
 'y': 19479,
 'z': 3547,
 '-': 0}

In [11]:
vowels=["a","e", "i", "o", "u"]

In [13]:
df = pd.DataFrame.from_dict(total, orient ='index', columns=["total"])
df

    total
a       0
b       0
c   42337
d   34772
e  124566
f   14676
g       0
h   25327
i   82648
j    1674
k    9484
l   42658
m   27734
n   59009
o   81574
p   35908
q    1826
r   66986
s   82394
t   59785
u   41994
v   10980
w    7801
x    3479
y   19479
z    3547
-       0

In [16]:
df = pd.DataFrame.from_dict(total, orient ='index', columns=["total"])
df.index.name = "letter"
df.sort_values(by=['total'], ascending=False, inplace=True)

In [17]:
df

         total
letter
e       124566
i        82648
s        82394
o        81574
r        66986
t        59785
n        59009
l        42658
c        42337
u        41994
p        35908
d        34772
m        27734
h        25327
y        19479
f        14676
v        10980
k         9484
w         7801
z         3547
x         3479
q         1826
j         1674
a            0
b            0
g            0
-            0

In [18]:
df['per'] = (df.total * 100 / df.total.sum()).round(2).astype(str) + '%'
df.head()

         total     per
letter
e       124566  14.14%
i        82648   9.39%
s        82394   9.36%
o        81574   9.26%
r        66986   7.61%