In [1]:
import pandas as pd
import numpy as np
import json
import string

In [2]:
with open('../Files/words_dictionary.json', 'r') as f:
    dic = json.load(f)

In [3]:
dic=list(dic.keys())

In [4]:
ej=dic[20]
ej

'aaronical'

In [5]:
total= dict.fromkeys(string.ascii_lowercase, 0)
total

{'a': 0,
 'b': 0,
 'c': 0,
 'd': 0,
 'e': 0,
 'f': 0,
 'g': 0,
 'h': 0,
 'i': 0,
 'j': 0,
 'k': 0,
 'l': 0,
 'm': 0,
 'n': 0,
 'o': 0,
 'p': 0,
 'q': 0,
 'r': 0,
 's': 0,
 't': 0,
 'u': 0,
 'v': 0,
 'w': 0,
 'x': 0,
 'y': 0,
 'z': 0}

In [6]:
df=pd.DataFrame.from_dict(total, orient='index')
df.head()

   0
a  0
b  0
c  0
d  0
e  0

In [7]:
list_total=list(total)
for i in list_total:
    df[i]=0
df.drop([0], axis=1, inplace=True)

In [8]:
df.head()

   a  b  c  d  e  f  g  h  i  j  ...  q  r  s  t  u  v  w  x  y  z
a  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
b  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
c  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
d  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
e  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[5 rows x 26 columns]

In [9]:
df.loc["b"]['b']=+0
df.head()

   a  b  c  d  e  f  g  h  i  j  ...  q  r  s  t  u  v  w  x  y  z
a  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
b  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
c  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
d  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
e  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[5 rows x 26 columns]

In [10]:
ej="abcde"
ej

'abcde'

In [11]:
dic[80]

'abalones'

In [12]:
for i in dic[80]:
    df.iloc[i][dic[80][i]]+=1
df.head(5)

   a  b  c  d  e  f  g  h  i  j  ...  q  r  s  t  u  v  w  x  y  z
a  1  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
b  0  1  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
c  1  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
d  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0
e  0  0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0  0  0  0  0  0

[5 rows x 26 columns]

In [54]:
for i,x  in combinations(dic[80] and dic[80]):
    df.loc[i][i]+=1

NameError: name 'combinations' is not defined

In [29]:
a="aaaargghh"
new={}
d={}
for char in set(a):
    new={a:d}
    d[char]=a.count(char)
print(d)

{'r': 1, 'h': 2, 'g': 2, 'a': 4}

In [30]:
new

{'aaaargghh': {'r': 1, 'h': 2, 'g': 2, 'a': 4}}

In [15]:
new={}
d={}
for i in dic[20:25]:
    for char in set(i):
        new={a:d}
        d[char]=a.count(char)

In [16]:
new

{'aaaargghh': {'a': 4,
  'c': 0,
  'l': 0,
  'n': 0,
  'r': 1,
  'i': 0,
  'o': 0,
  'e': 0,
  't': 0,
  'h': 2,
  'g': 2}}