In [52]:
import pandas as pd
import numpy as np
import json
import string
from itertools import groupby

In [53]:
with open('../Files/English_dictionary.json', 'r') as f:
    dic = json.load(f)

In [54]:
total= dict.fromkeys(string.ascii_lowercase, 0)
total["-"]=0
total

{'a': 0,
 'b': 0,
 'c': 0,
 'd': 0,
 'e': 0,
 'f': 0,
 'g': 0,
 'h': 0,
 'i': 0,
 'j': 0,
 'k': 0,
 'l': 0,
 'm': 0,
 'n': 0,
 'o': 0,
 'p': 0,
 'q': 0,
 'r': 0,
 's': 0,
 't': 0,
 'u': 0,
 'v': 0,
 'w': 0,
 'x': 0,
 'y': 0,
 'z': 0,
 '-': 0}

# Calculate probability given 2 or more letters

In [55]:
le_no_word=["a", "b", 'g']

In [56]:
dic = [ele for ele in dic if all(ch not in ele for ch in le_no_word)]

In [57]:
letters=["h", "o"]

In [58]:
dic = [ele for ele in dic if all(ch in ele for ch in letters)]

In [59]:
for i in dic:
    for x in i:
        total[x]+=1

In [60]:
vowels=["a","e", "i", "o", "u"]

In [61]:
remove= list(set(vowels+list(letters)+le_no_word))
total= {k:v for k,v in total.items() if k not in remove}
total

{'c': 7398,
 'd': 3825,
 'f': 1004,
 'j': 69,
 'k': 894,
 'l': 5513,
 'm': 4548,
 'n': 6449,
 'p': 7248,
 'q': 69,
 'r': 10013,
 's': 11075,
 't': 9295,
 'v': 555,
 'w': 1156,
 'x': 375,
 'y': 4504,
 'z': 516,
 '-': 0}

In [62]:
df = pd.DataFrame.from_dict(total, orient ='index', columns=["total"])
df.index.name = "letter"
df.sort_values(by=['total'], ascending=False, inplace=True)
df.head()

        total
letter
s       11075
r       10013
t        9295
c        7398
p        7248

In [63]:
df['per'] = (df.total * 100 / df.total.sum()).round(2).astype(str) + '%'
df.head()

        total     per
letter
s       11075  14.86%
r       10013  13.44%
t        9295  12.48%
c        7398   9.93%
p        7248   9.73%

In [64]:
#NoVowel

def next_letter(dic, letters, le_no_word):
    #Create dict with all letters
    total= dict.fromkeys(string.ascii_lowercase, 0)
    total["-"]=0
    #Delete words with letters that are not in the word
    dic = [ele for ele in dic if all(ch not in ele for ch in le_no_word)]
    #Get words with letters we have
    dic = [ele for ele in dic if all(ch in ele for ch in letters)] 
    #Create dic counting when a letter appear
    for i in dic:
        for x in i:
            total[x]+=1
    #Delete from the dict letters alredy in the word
    vowels=["a","e", "i", "o", "u"]
    remove= list(set(vowels+list(letters)+list(le_no_word)))
    total= {k:v for k,v in total.items() if k not in remove}
    #Create df
    df = pd.DataFrame.from_dict(total, orient ='index', columns=["total"])
    df.index.name = "letter"
    df.sort_values(by=['total'], ascending=False, inplace=True)
    df['per'] = (df.total * 100 / df.total.sum()).round(4)
                 
    final_word= df.total.idxmax()
    if (df.iloc[0].per - df.iloc[1].per) < 1:
        return f'You should choose {final_word} with {df.loc[final_word].per.round(3)}% appear or {df.iloc[1].name} with {df.loc[df.iloc[1].name].per.round(3)}% appear'
    else:
        return f'You should choose {final_word} with a {df.loc[final_word].per.round(3)}% appear'

In [65]:
le_no_word=["a", "b", 'g']
letters=["h", "o"]
next_letter(dic, letters, le_no_word)

'You should choose s with a 14.865% appear'

In [66]:
#Vowel

def next_vowel(dic, letters, le_no_word):
    #Create dict with all letters
    total= dict.fromkeys(string.ascii_lowercase, 0)
    total["-"]=0
    #Delete words with letters that are not in the word
    dic = [ele for ele in dic if all(ch not in ele for ch in le_no_word)]
    #Get words with letters we have
    dic = [ele for ele in dic if all(ch in ele for ch in letters)] 
    #Create dic counting when a letter appear
    for i in dic:
        for x in i:
            total[x]+=1
    #Delete from the dict letters alredy in the word
    vowels=["a","e", "i", "o", "u"]
    remove= list(set(list(letters)+list(le_no_word)))
    total= {k:v for k,v in total.items() if k not in remove and k in vowels}
    #Create df
    df = pd.DataFrame.from_dict(total, orient ='index', columns=["total"])
    df.index.name = "letter"
    df.sort_values(by=['total'], ascending=False, inplace=True)
    df['per'] = (df.total * 100 / df.total.sum()).round(4)
    
                 
    final_word= df.total.idxmax()
    if (df.iloc[0].per - df.iloc[1].per) < 1:
        return f'You should choose {final_word} with {df.loc[final_word].per.round(3)}% appear or {df.iloc[1].name} with {df.loc[df.iloc[1].name].per.round(3)}% appear'
    else:
        return f'You should choose {final_word} with a {df.loc[final_word].per.round(3)}% appear'

In [67]:
le_no_word=["a", "b", 'g']
letters=["h", "o"]
next_vowel(dic, letters, le_no_word)

'You should choose e with a 48.356% appear'

# Calcultate probability with empty word but we have some letters in the panel

In [15]:
with open('../Files/English_dictionary.json', 'r') as f:
    dic = json.load(f)

In [16]:
def empty_consonant(dic, letters):
    dic=list(dic.keys())
    total= dict.fromkeys(string.ascii_lowercase, 0)
    total["-"]=0
    dic = [ele for ele in dic if all(ch not in ele for ch in letters)] 
    for i in dic:
        for x in i:
            total[x]+=1
    df = pd.DataFrame.from_dict(total, orient ='index', columns=["total"])
    df.index.name = "letter"
    df.sort_values(by=['total'], ascending=False, inplace=True)
    vowels=["a","e", "i", "o", "u"]
    df.drop(vowels, axis=0, inplace=True)
    df['per'] = (df.total * 100 / df.total.sum()).round(2)
    final= df.total.idxmax()
    if (df.iloc[0].per - df.iloc[1].per) < 1:
        return f'You should choose {final} with {df.loc[final].per.round(3)}% appear or {df.iloc[1].name} with {df.loc[df.iloc[1].name].per.round(3)}% appear'
    else:
        return f'You should choose {final} with a {df.loc[final].per.round(3)}% appear'

In [17]:
letters=["a", "b", 'g']
empty_consonant(dic, letters)

'You should choose s with a 14.98% appear'

In [18]:
def empty_vowel(dic, vowel):
    dic=list(dic.keys())
    total= dict.fromkeys(string.ascii_lowercase, 0)
    total["-"]=0
    dic = [ele for ele in dic if all(ch not in ele for ch in vowel)] 
    for i in dic:
        for x in i:
            total[x]+=1
    vowels=["a","e", "i", "o", "u"]
    df = pd.DataFrame.from_dict(total, orient ='index', columns=["total"]).loc[vowels]
    df.index.name = "letter"
    df.sort_values(by=['total'], ascending=False, inplace=True)
    df['per'] = (df.total * 100 / df.total.sum()).round(2)
    print(df)
    final= df.total.idxmax()
    if (df.iloc[0].per - df.iloc[1].per) < 1:
        return f'You should choose {final} with {df.loc[final].per.round(3)}% appear or {df.iloc[1].name} with {df.loc[df.iloc[1].name].per.round(3)}% appear'
    else:
        return f'You should choose {final} with a {df.loc[final].per.round(3)}% appear'

In [19]:
letters=["a", "b", 'g']
vowels=["a","e", "i", "o", "u"]
empty_vowel(dic, letters)

         total    per
letter
e       124566  37.66
i        82648  24.99
o        81574  24.66
u        41994  12.70
a            0   0.00

'You should choose e with a 37.66% appear'

In [20]:
total= dict.fromkeys(string.ascii_lowercase, 0)
total["-"]=0
total

{'a': 0,
 'b': 0,
 'c': 0,
 'd': 0,
 'e': 0,
 'f': 0,
 'g': 0,
 'h': 0,
 'i': 0,
 'j': 0,
 'k': 0,
 'l': 0,
 'm': 0,
 'n': 0,
 'o': 0,
 'p': 0,
 'q': 0,
 'r': 0,
 's': 0,
 't': 0,
 'u': 0,
 'v': 0,
 'w': 0,
 'x': 0,
 'y': 0,
 'z': 0,
 '-': 0}

In [21]:
letters=["a", "b", 'g']

In [22]:
dic = [ele for ele in dic if all(ch not in ele for ch in letters)]

In [23]:
for i in dic:
    for x in i:
        total[x]+=1

In [24]:
total

{'a': 0,
 'b': 0,
 'c': 42337,
 'd': 34772,
 'e': 124566,
 'f': 14676,
 'g': 0,
 'h': 25327,
 'i': 82648,
 'j': 1674,
 'k': 9484,
 'l': 42658,
 'm': 27734,
 'n': 59009,
 'o': 81574,
 'p': 35908,
 'q': 1826,
 'r': 66986,
 's': 82394,
 't': 59785,
 'u': 41994,
 'v': 10980,
 'w': 7801,
 'x': 3479,
 'y': 19479,
 'z': 3547,
 '-': 0}

In [25]:
vowels=["a","e", "i", "o", "u"]

In [26]:
df = pd.DataFrame.from_dict(total, orient ='index', columns=["total"])
df

    total
a       0
b       0
c   42337
d   34772
e  124566
f   14676
g       0
h   25327
i   82648
j    1674
k    9484
l   42658
m   27734
n   59009
o   81574
p   35908
q    1826
r   66986
s   82394
t   59785
u   41994
v   10980
w    7801
x    3479
y   19479
z    3547
-       0

In [27]:
df = pd.DataFrame.from_dict(total, orient ='index', columns=["total"])
df.index.name = "letter"
df.sort_values(by=['total'], ascending=False, inplace=True)

In [28]:
df

         total
letter
e       124566
i        82648
s        82394
o        81574
r        66986
t        59785
n        59009
l        42658
c        42337
u        41994
p        35908
d        34772
m        27734
h        25327
y        19479
f        14676
v        10980
k         9484
w         7801
z         3547
x         3479
q         1826
j         1674
a            0
b            0
g            0
-            0

In [29]:
df['per'] = (df.total * 100 / df.total.sum()).round(2).astype(str) + '%'
df.head()

         total     per
letter
e       124566  14.14%
i        82648   9.39%
s        82394   9.36%
o        81574   9.26%
r        66986   7.61%